body{
	font-family: Times New Roman;
}
#animal-image{
	width: 300px;
	margin: 8px;
	border: 1px solid rgb(202,202,202);
}
#interesting-fact{
	font-style: italic;
}
.list-items{
	font-weight: bold;
}
ul{
	list-style-type: none;
	padding: 0;
}
.information{
	border: 1px solid rgb(202,202,202);
	width: 320px;
	background: pink;
}
.details{
	border: 1px solid rgb(202,202,202);
	margin: 10px;
	padding: 10px;
}
.animal-name{
	margin: 10px;
	margin-top: 20px;
	font-size: 30px;
}